@{
    ViewBag.Title = "Add Department Page";
}
@using Microsoft.AspNetCore.Authorization; 
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models
@model Group6Application.Models.DepartmentView
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>

<script>

    $(document).ready(function() {
        $("#submit").click(function(){
            $('#submittingModal').modal({
                //backdrop:'static',
                //keyboard: false
            })
            submit();
        });
    });

    function pageValid(page){
        var pageValid = false;
        var invalidObjects = 0;
        var listOfInvalidObjects ="";

        $("").each(function(){
            var inputID = "#" + $(this).attr("id");
            if ( $(inputId).attr("required") & $(inputId).is("input") )
            {
                if ( ($inputId).val().length == 0 ){ // empty input

                    $(inpudId + "RequiredAlert").show();
                    invalidObjects++;
                    listOfInvalidObjects = listOfInvalidObjects + ", " + inpudId;
                }
                else {
                    $(inpudId + "RequiredAlert").hide();
                }

                if ( ($inputId).is("select")){
                    if ( $($inputId).val() == ""){
                        $(inpudId + "RequiredAlert").show();
                        invalidObjects++;
                        listOfInvalidObjects = listOfInvalidObjects + ", " + inpudId;
                    }
                    else {
                        $(inpudId + "RequiredAlert").hide();
                    }
                }
            }
        });

        if (invalidObjects == 0){
            pageValid = true;
        }
        return pageValid;
    }

    function submit(){
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddDepartmentDB")", // must match function name in controller
            data:{
                Name: $('#name').val(),
                SupervisorID: $('#supervisorID').val(),
            },
            dataType:"text",
            error: function(msg){
                $("#submittingModal").modal("toggle");
                $(".modal-backdrop").remove();
                $("#errorModal").modal();
            },
            success: function(data){
                var json = $.parseJSON(data);
                if (json.submissionResult){ // Submission is true
                    $("#confirmationModal").modal();
                }
                else {
                    $("#submittingModal").modal("toggle");
                    $(".modal-backdrop").remove();
                    $("#errorModal").modal();
                }
            }
        });
    }
</script>

<html>
    
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Current Departments</h1>
        </div>

        <div class="col-md-12">

        </div>
   </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 ">

            <form>
                <h3 class="">Department Information</h3>

                <label for="name">Department Name</label>
                <input type="text" id="name" name="name" required />
                <span id="nameRequiredAlert" class="collapse required">Required Field</span>
                <br />
                <label for="supervisorID">Select a supervisor for this department</label>
                <select id="supervisorID" name="supervisorID" required>
                    <option value="">Please Select</option>
                    @{
                        foreach (SelectListItem id in Model.EmployeeIDs)
                        {
                            if (!String.IsNullOrEmpty(id.Text))
                            {
                                <option value="@id.Value">@id.Text</option>
                            }

                        }
                    }
                </select>

                <div class="col-md-3">
                    <p>
                        <button type="button" id="submit" name="submit" class="btn-block">Submit</button>
                    </p>
                </div>
            </form>

        </div>
    </div>
  
<div id="submittingModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>
    </div>

</div>

<div id="errorModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

</html>
