@{
    ViewBag.Title = "View Unfinished Tasks";
}
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Group6Application.Models
@model Group6Application.Models.OverdueTasksView
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>

<script>

    $(document).ready(function () {
        $("#submit").click(function () {
            $("#submittingModal").modal("show");
            if (pageValid()) {
                submit();
            }
            $(".modal-backdrop").remove();
            $("#submittingModal").modal("hide");

        });
    });

    function pageValid() {
        var pageValid = false;
        var invalidObjects = 0;
        var listOfInvalidObjects = "";

        // Do for each required input
        var inputID = "#departmentID";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }


        if (invalidObjects == 0) {
            pageValid = true;
        }
        return pageValid;
    }


    function submit() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("OverdueTasks")", // must match function name in controller
            data: {
                DepartmentID: $('#departmentID').val(),
            },
            dataType: "html",
            error: function (msg) {
                $(".modal-backdrop").remove();
                $("#errorModal").modal();
            },
            success: function (data) {
                $('#addTasks').html(data);
            }
        });
    }
</script>

<html>

<div class="row text-center">
    <div class="col-md-12">
        <h1>View Past Due Tasks</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-8 offset-md-2 ">

        <form>           
            <label for="departmentID">Select Department to view past due tasks</label>
            <select id="departmentID" name="departmentID" required>
                <option value="" selected>Please Select</option>
                @{
                    foreach (SelectListItem id in Model.Departments)
                    {
                        if (!String.IsNullOrEmpty(id.Text))
                        {
                            <option value="@id.Value">@id.Text</option>
                        }

                    }
                }
            </select>
            <span id="departmentIDRequiredAlert" class="collapse required">Required Field</span>


            <div class="col-md-3">
                <p>
                    <button type="button" id="submit" name="submit" class="btn-block">Submit</button>
                </p>
            </div>
        </form>

    </div>
</div>
<div id="addTasks" name="addTasks">
</div>

<div id="submittingModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>

    </div>

</div>

<div id="errorModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

</html>
