@model Group6Application.Models.LoginView
@using Group6Application.Models
<div class="main">
	<div class="login">
		<div class="login-top">			
		</div>
		<h1>Project Management System Login</h1>
		<div class="login-bottom">
			<form>
				<input type="text" placeholder="Username" required=" ">
				<input type="password" class="password" placeholder="Password" required=" ">
				<input type="submit" value="login">
			</form>
		</div>
	</div>
</div>
<div class="footer">
</div>

</html>

