@model MVC_Test.Models.TaskModel
@{
    ViewBag.Title = "Add Task Page";
}
@using MVC_Test.Controllers
@using Group6Application.Models;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $('#submittingModal').modal('show');
            if (pageValid()){  
                submit();
            }
            else{
                $('#submittingModal').modal('hide');
            };
        });
    });

    function pageValid() {
        var pageValid = false;
        var invalidObjects = 0;
        var listOfInvalidObjects = "";

        // Do for each required input
        var inputID = "#taskName";
        if ($(inputID).val().length == 0) {
            invalidObjects++;
            $(inputID + "RequiredAlert").show();
        }
        else {
            $(inputID + "RequiredAlert").hide();
        }


        if (invalidObjects == 0) {
            pageValid = true;
        }
        return pageValid;
    }


    function submit() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddTask")", // must match function name in controller
            data: {
                taskName: $('#taskName').val(),
                description: $('#taskDescription').val(),
                checkPointID: $('#TaskCheckPointID').val(),
                startDate: $('#taskStart').val(),
                dueDate: $('#taskDue').val(),
                assignee: $('#taskAssignee').val(),
            },
            dataType: "text",
            error: function (msg) {
                alert(msg);
            },
            success: function (data) {
                var json = $.parseJSON(data);
                if (json.submissionResult) { // Submission is true
                    alert('Form was submitted!');
                    window.location.replace('https://localhost:7049/Task?taskID=' + json.id.toString());
                }
                else {
                    alert('Form was not submitted!');
                }
            }
        });
    }
</script>
    <form id="taskForm" method="post">

        <label for="taskName">Task Name</label>
        <input id="taskName" name="taskName" type="text" />
        <span id="taskNameIDRequiredAlert" class="collapse required">Required Field</span>


        <br />
        <label for="taskDescription">Task Description</label>
        <input id="taskDescription" name="taskDescription" type="text" />

        <br />
        <label for="TaskCheckPointID">Checkpoint</label>
        <select id="TaskCheckPointID" name="TaskCheckPointID">
            <option value="" selected>Please select...</option>
            @{
                foreach (int checkID in TaskController.getCheckpoints())
                {
                    CheckpointModel checkpoint = TaskController.getCheckpoint(checkID);
                    <option value=@checkID>@checkpoint.Name</option>
                }
            }
        </select>

        <br />

        <label for="taskStart">Start Date</label>
        <input id="taskStart" name="taskStart" type="date" />

        <br />

        <label for="taskDue">Due Date</label>
        <input id="taskDue" name="taskDue" type="date" />
        <select id="taskAssignee" name="taskAssignee">
                <option value="" selected>Please select...</option>
                @{
                    foreach (int assigneeID in TaskController.getAssignees())
                    {
                        EmployeeTemplate employee = TaskController.getAssignee(assigneeID);
                        string fullName = employee.FirstName + " " + employee.LastName;
                        <option value=@assigneeID>@fullName</option>
                    }
                }
        </select>

        <br />

        <button type="button" id="submit" name="submit" class="btn-block">Submit</button>
    </form>

<div id="submittingModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>
    </div>

</div>

<div id="errorModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>