@model MVC_Test.Models.TaskModel
@{

}
@using MVC_Test.Controllers
@using Group6Application.Models;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</head>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $('#submittingModal').modal({
                //backdrop:'static',
                //keyboard: false
            })
            submit();
        });
    });

    function submit() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddTask")", // must match function name in controller
            data: {
                taskName: $('#taskName').val(),
                description: $('#taskDescription').val(),
                checkPointID: $('#TaskCheckPointID').val(),
                startDate: $('#taskStart').val(),
                dueDate: $('#taskDue').val(),
                assignee: $('#taskAssignee').val(),
            },
            dataType: "text",
            error: function (msg) {
                alert(msg);
            },
            success: function (data) {
                var json = $.parseJSON(data);
                if (json.submissionResult) { // Submission is true
                    alert('Form was submitted!');
                    window.location.replace('https://localhost:7049/Task?taskID=' + json.id.toString());
                }
                else {
                    alert('Form was not submitted!');
                }
            }
        });
    }
</script>
    <form id="taskForm" method="post">
        <table>
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>CheckPoint</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Assignee</th>
            </tr>
            <tr>
            <td><input id="taskName" name="taskName" type="text"></input></td>
            <td><input id="taskDescription" name="taskDescription" type="text"></input></td>
                <td>
                <select id="TaskCheckPointID" name="TaskCheckPointID">
                        <option value="" selected>Please select...</option>
                        @{
                            foreach (int checkID in TaskController.getCheckpoints())
                            {
                                CheckpointModel checkpoint = TaskController.getCheckpoint(checkID);
                                <option value=@checkID>@checkpoint.Name</option>
                            }
                        }
                    </select>
                </td>
            <td><input id="taskStart" name="taskStart" type="date"></input></td>
            <td><input id="taskDue" name="taskDue" type="date"></input></td>
                <td>
                <select id="taskAssignee" name="taskAssignee" name="TaskAssignee">
                        <option value="" selected>Please select...</option>
                        @{
                            foreach (int assigneeID in TaskController.getAssignees())
                            {
                                EmployeeTemplate employee = TaskController.getAssignee(assigneeID);
                                string fullName = employee.FirstName + " " + employee.LastName;
                                <option value=@assigneeID>@fullName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
    <button type="button" id="submit" name="submit" class="btn-block">Submit</button>
    </form>
<div id="submittingModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Submitting</h2>
        </div>
        <div class="modal-body">
            <p>Form is being submitted</p>
        </div>
    </div>

</div>

<div id="errorModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Error</h2>
        </div>
        <div class="modal-body">
            <p>An error has occurred while submitting.</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>

<div id="confirmationModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <h2>Confirmation</h2>
        </div>
        <div class="modal-body">
            <p>The form has been sucessfully submitted</p>
        </div>
        <button type="button" data-dismiss="modal" class="btn-block">Okay</button>
    </div>

</div>